
body{
  background-color: rgb(15,15,15);
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

h1{
  width: 30%;
  padding: 30px;
  border-style:groove;
  border-radius: 10px;

}


p{
padding: 5px;
}


.clock {
   font-size: 24px;
   font-family: 'Montserrat', sans-serif;
   padding: 5px;
   margin: auto;
}

.location{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.flex-container{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

footer{
  color: rgb(20,20,20);
  position: bottom;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Helvetica;
}
