
body{
  background-image: url("background2.jpg");
  background-blend-mode:overlay;
  background-repeat: repeat;
  background-color: rgb(15,15,15);
  color: rgb(250,250,250);
  justify-content: center;
  text-align: center;
  min-height: 100%;
  margin: 10px;
}


h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  padding-top: 0px;
  padding-bottom: 15px;
  border-bottom-color: rgba(250, 250, 250, 0.5);
  border-bottom-style: outset;
}


p{
  padding: 5px;
}

p:hover{
  background-color: rgb(25,25,25);
  border-radius: 10px;
}

.clock {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
  margin: auto;
}

.location{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 30px;
  margin: auto;

}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  list-style:none;
  justify-content: center;
  text-align: center;
  padding: 30px;
  padding-top: 40px;
}

.logo{
  height: 45px;
  width: auto;
  padding: 0px;
}

footer{
  position: fixed;
  color: rgb(30,30,30);
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Helvetica;
}

@media only screen and (max-width: 1080px) {
  h1{
    font-size: 65px;
  }

  h3{
    font-size: 30px;
  }
  .location{
    padding: 20px;
  }
  footer{
    position: static;
  }
}
